body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    padding: 10px;
    border-radius: 1.25rem;
    border: 2px solid gray;
    width: 400px;
    height: 500px;
    background-color:#123456;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.mainpart {
    width: 200px;
    height: 250px;
    border: 0.1px solid white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resultp {
    font-size: 50px;
    color: aqua;
}

.addbutton {
    padding: 15px;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid gray;
}

.substractbutton {
    padding: 15px;
    background-color: yellow;
    border-radius: 50%;
    border: 1px solid gray;
}

.addbutton:hover {
    background-color: green;
    border: 2px solid white;
    font-size: large;
    color: white;
    cursor: pointer;
}

.substractbutton:hover {
    background-color: red;
    border: 2px solid white;
    font-size: large;
    color: white;
    cursor: pointer;
}

.stage2 {
    border: 2px solid gray;
    padding: 10px;
    margin: 20px;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}